html {
  background-color: #E2B8AE;
  box-sizing: border-box;
  color: #685A50;
}
html > * {
  box-sizing: inherit;
}
body {
  max-width: 1000px;
  margin: 0 auto;
  font-family: 'Calibri', Arial, sans-serif;
  background-color: #FFFFF7;
  /*padding: 1em;*/
}
header{
  background-color: #A58F7F;
  color: #FFFFF7;
  padding: 1em;
}
aside {
  background-color: #FFEAE9;
}
footer{
  background-color: #685A50;
  padding: 1em;
  color: #FFFFF7;
}
/*a {
  text-decoration: none;
}*/
h1 {
  font-family: 'Montserrat', 'Calibri', Arial, sans-serif;
}
h1 a {
  color: #FFFFF7;
}
h1 a:hover, h1 a:focus {
  color: #FFFFF7;
}
h2 {
  font-family: 'Montserrat', 'Calibri', Arial, sans-serif;
  color: #AC827F;
}
a {
  color: #54403F;
}
a:hover, a:focus {
  color: #AC827F;
}
main h2, main h2 a {
  color: #AC827F;
}
main h2 a:hover, main h2 a:focus {
  color: #784944;
}
/*form controls*/
input, textarea, label {
  display: block;
  width: 97%;
  margin: .2em 0;
}
@media screen and (min-width: 500px){
  main {
    width: 65%;
    float: right;
  }
  aside {
    width: 32%;
    float: left;
    padding-left: 1em;
  }
  footer {
    clear: both;
  }
}
